<div class="container">
  <div class="row">
    <div class="col-12 mt-3 text-center font-weight-bold">
      <h4>ブックマーク</h4>
    </div>
    <div>
      <%= render 'user/posts/index', posts: @posts, user: @user %>
    </div>
  </div>
</div>