@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background-color: black;
}

.footer-menu {
  margin-top: 60px ;
  margin-left: 20px;
}

.footer-text {
  color: white;
  text-align: center;
}