<div class="container">
  <div class="row">
    <div class="col-12 mt-3 text-center">
      <h4>お問合せありがとうございます。</h4>
      <p>ご記入いただいた内容は無事に送信されました。</p>
    </div>
    <div>
      <%= link_to "Topに戻る", root_path, class: "text-dark" %>
    </div>
  </div>
</div>