<div class="container">
  <div class="row">
    <div class="col-12 mt-2 text-center">
      <h2>まんぷくっとは？</h2>
    </div>
    
    <div class="col-4"></div>
      <div class="col-4 mt-3 pt-2 bg-info text-light">
      <p>
        大盛りグルメを取り扱う飲食店を紹介する<br>
        ユーザー投稿型のSNSサイトです。<br>
        「今日はガッツリ食べたい!」と思った時の<br>
        お店探しをお手伝いします。<br>
        全てはあなたの「満腹」のために。
      </p>
    </div>
    
    <div class="col-12 mt-3 text-center">
      <h2>まんぷくっの使い方</h2>
    </div>
    
    <div class="col-3"></div>
    <div class="col-6 pt-2 bg-info text-light">
      <h4>① 投稿してみよう！</h4>
      <p>
        お気に入りのお店を投稿してみましょう。今日のあなたの投稿が<br>
        明日、誰かの空腹を満たしてくれるかもしれません。<br>
        気になった投稿にはいいねをつけると、ブックマークに登録されます。<br>
        コメント欄を活用して、大盛り情報を共有しましょう！
      </p>
    </div>
    
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6 pt-2 bg-info text-light mb-3">
      <h4>② 検索してみよう！</h4>
      <p>
        ユーザー名、お店の名前、タグの3つの項目から検索が可能です。<br>
        お気に入りのユーザーを探してフォローしたり、エリアやジャンルのタグで
        お店を探すこともできます。
        検索機能を上手に使って、楽しく大盛りを探しましょう！<br>
      </p>
    </div>
  </div>
</div>