<div class="container text-center">
  <div class="search-form">
    <%= render 'user/searches/form' %>
  </div>
  <div class="row">
    <div class="icon col-5 mt-4 text-left">
      <% if user_signed_in? %>
        <%= link_to new_post_path, class: "btn pull-right" do %>
          <i class="fas fa-duotone fa-circle-plus fa-2x"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
      <%= render 'index', posts: @posts, user: @users %>
  </div>
</div>


