<div class="container">
  <div class="row text-left font-weight-bold text-info">
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
</div>
