<footer class="footer" style="position: absolute; bottom: 0; width: 100%; position: fixed;">
  <div class='container-fluid bg-dark text-light'>
  	<div class='row'>
      <div class="footer-menu col-5 my-4">
        <%= link_to "お問合せ", new_contact_path, class: "text-light" %>
      </div>
      <div class='col-7 my-4 '>
    		<p>CopyRight まんぷくっ.inc</p>
    	</div>
    </div>
  </div>
</footer>