
  <div class='container mt-3 bg-dark text-light'>
  	<div class='row'>
    	<div class='col-12 mx-auto pt-5 text-center'>
    		<p>CopyRight まんぷくっ.inc</p>
    	</div>
      <div class="footer-menu text-light">
        <%= link_to "お問合せ", new_contact_path, class: "text-light" %>
      </div>
    </div>
</div>